# docker-compose.yml
services:
  dev:
    build:
      context: .
      dockerfile: docker/dev.Dockerfile
      args:
        UID: ${UID}
        GID: ${GID}
    user: "${UID}:${GID}"
    environment:
      HOME: /home/dev
    volumes:
      - .:/workspace:cached
      - dev-home:/home/dev
      - bundler-cache:/home/dev/.bundle
    working_dir: /workspace
    tty: true
    stdin_open: true

volumes:
  dev-home:
  bundler-cache:
